@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Playfair,Poppins/Poppins/Poppins-SemiBold.ttf');
}

.metricsList{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 54.875rem;
    height: 11.75rem;
    background-color: #ECDAC4;
    border-radius: 85px;
    position: relative;
    bottom: 36rem;
}
.metricsList ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363031;
    width: 42.875rem;
    height: 8.75rem;
    gap: 5.5rem;
}
.metricsList ul li{
    width: 10.625rem;
    height: 8.75rem;
    text-align: center;
}
.metricsList ul .bigFont{
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: bold;
}
.metricsList ul p{
    font-family: 'Poppins';
    margin-top: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
}